/*
	font-family: 'Roboto', sans-serif;
	font-family: 'PT Sans', sans-serif;
*/

.navigationBar {
	width: 100%; 
	height: 125px;
}

.navigationBarLink {
	padding: 50px 20px;
	float: right;
	color: rgb(100,100,100);
	text-decoration: none;
	font-family: 'PT Sans', sans-serif;
}

.rightMost{
	padding-right: 100px;
}

.navigationBarLink:hover {
	color: rgb(200,200,200);
}

.navigationLine {
	margin: 0 auto;
	width: 95%;
	height: 2px;
	background-color: rgb(200,200,200);
	border-radius: 10px;
	margin-bottom: 50px;
}

.homeTitle {
	font-size: 30px;
	text-align: center;
	padding: 10px 0 15px 0;
	color: rgb(100,100,100);
	font-family: 'PT Sans', sans-serif;
}

.homeSubtitle {
	font-size: 20px;
	text-align: center;
	padding: 10px 0 0 0;
	color: rgb(100,100,100);
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
}

.perennialSubtitle {
	font-size: 20px;
	text-align: center;
	padding: 10px 0 0 0;
	color: rgb(255,255,255);
	line-height: 30px;
	font-family: 'PT Sans', sans-serif;
}

.downloadsBackgroundImage {
	position: absolute;
	clip-path: polygon(0 0, 100% 0, 100% 440px, 0 440px);
	z-index:-1;
}

.downloadsMainSection {
	width: 95%;
	height: 400px;
	padding: 20px 0;
	margin: 0 auto;
	border-radius: 50px;
	background-color: rgba(0,0,0,0.5);
}

.bookmarks {
	width: 580px;
	padding-top: 25px;
	margin: 0 auto;
}

.bookmarkLink {
	width: 250px;
	text-align: center;
	background-color: rgb(0,0,0);
	float: left;
	margin: 0 20px;
	padding: 15px 0;
	font-size: 18px;
	color: rgb(255,255,255);
	border-radius: 5px;
	font-family: 'Work Sans', sans-serif;
	text-decoration: none;
}

.bookmarkLink:visited {
	color: rgb(255,255,255);
}

.downloads {
	width: 580px;
	height: 100px;
	padding: 50px 0;
	margin: 0 auto;
	text-align: center;
}

.deliverables {
	width: 870px;
	height: 100px;
	padding: 50px 0;
	margin: 0 auto;
	text-align: center;
}

.downloadLinkTitle {
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
}

.downloadsLink {
	width: 250px;
	text-align: center;
	background-color: rgb(0,0,0);
	float: left;
	margin: 0 20px;
	padding: 15px 0;
	font-size: 18px;
	color: rgb(255,255,255);
	border-radius: 5px;
	font-family: 'Work Sans', sans-serif;
}

.whoWeAreTitle {
	font-size: 35px;
	text-align: center;
	padding: 10px 0 5px 0;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
}


.whoWeAreSubtitle {
	font-size: 20px;
	text-align: center;
	padding: 5px 0 50px 0;
	color: rgb(100,100,100);
	font-family: 'Work Sans', sans-serif;
}

@media (min-width : 1100px) {
	.people {
		margin: 0 auto;
		width: 1040px;
		height: 400px;
	}
}

@media (max-width : 1099px) {
	.people {
		margin: 0 auto;
		width: 520px;
		height: 700px;
	}
}

.person {
	float: left;
	padding: 0px 30px;
	height: 375px;
	width: 200px;
	text-align: center;
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
}

.meme {
	width: 200px;
	height: 200px;
}

.name {
	font-size: 27px;
	padding: 10px 0;
}

.role {
	font-size: 20px;
	padding: 10px 0;
}

.linkIcon {
	width: 30px;
	padding: 0 5px;
}

.twoCanGamesLogoBig {
	width: 450px;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}

.twoCanGamesLogoSmall {
	width: 125px;
	float: left;
	margin: 0 auto;
	padding: 20px;
	padding-left: 100px;
}

.perennialLogoBig {
	width: 450px;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
}